@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #030303;
  color: #fff;
  overflow-x: hidden;
}

.lines.green {
  z-index: 2;
  clip-path: circle(10rem at var(--x) var(--y));
}
